{% load static %}

<div class="wrapper">
    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2023 ToDo List Pet Project</p>
            <a href="https://www.linkedin.com/in/vlad-musaelyan-5966a1278/">
                <img src="{% static 'todo/images/icon_link.png' %}" alt="">
            </a>
            <a href="https://github.com/drakoRRR">
                <img src="{% static 'todo/images/icon_github.png' %}" alt="">
            </a>
        </div>
    </footer>
</div>


