{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'todo/css/style_main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Roboto&family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>Todo List</title>
    <style>
        .navbar-nav .nav-link {
            cursor: pointer;
        }
    </style>
</head>
<body>

{% include 'todo/template_navbar.html' %}

<div class="container mt-4">
    <div class="row">

        {% include 'todo/weather.html' %}

        <div class="col-md-9">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h1 id="task">My Tasks</h1>
                <form class="form-inline">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Sort by</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                        <option selected>Choose...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </form>
            </div>
            <form action="" method="post">
            <ul class="list-group">
                {% if tasks %}
                    {% for task in tasks %}
                    <li class="list-group-item" style="margin-bottom: 20px; padding: 20px; background-color: #f8f9fa;">
                        <p>
                            <h3>{{ task.title }}</h3> <span class="badge bg-secondary">{{ task.deadline }}</span>
                            <a href="{% url 'delete_task' task.id %}" class="btn btn-success btn-sm float-end">Done</a>
                        </p>
                        <hr>
                        <p><strong>Tag:</strong> {{ task.tag }}</p>
                        <hr>
                        <p>{{ task.description }} </p>
                    </li>
                    {% endfor %}
                {% else %}
                    <div class="beautiful-text">
                        You have no tasks !
                    </div>
                {% endif %}
            </ul>
            </form>
        </div>
    </div>
</div>

<footer>
    <div class="footer-content">
        <p>&copy; 2023 ToDo List Pet Project</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>