{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'members/temp_head.html' with login='Registration Form' %}
<body>
<div class="container">
    <div class="registration form">
        <header>Signup</header>
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Enter your email">
            <input type="password" placeholder="Create a password">
            <input type="password" placeholder="Confirm your password">
            <input type="button" class="button" value="Signup">
        </form>
        <div class="signup">
        <span class="signup">Already have an account?
         <a href="{% url 'login' %}">Login</a>
        </span>
        </div>
    </div>
</div>
</body>
</html>